/* 
    General Styles
*/
/*login form*/
.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;

}

.email{
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.password{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.name{
    float: bottom;
}


#profpic{
    width: 140px;
    height: 140px;
}
#content{
    position: relative;
    background-color: black;
}
.footer{
    position: absolute;
    margin: auto;
    width: 100%;
    background-color: black;
}

 * {
    margin: 0;
}

html, body {
    height: 100%;
}

#container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
}
.jumbotron{
    background-image: url(../images/fight1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 80%;
    color: #32EA19;
}
#imageDiv {
  width: 100%;
}
 
#imageDiv img {
  max-width: 98%;
}
#homebtn {
    background-color: #470A6A;
}
#compete {
    color: #FFF828;
}

.navbar .navbar-brand{
    color:  #FFF828;
    background-color: black;
}

#popgame {
    color: #FFF828;
}
#firsttab {
    color: #FFF828;
}
.bg-dark {
    background-color: black !important;
}
.btn-dark {
    color: #32EA19 !important;
}
body{
    background-color: black;
}
.main, #profpage {
    background-image: url('http://4everstatic.com/imagenes/construcciones/muro-de-piedra,-fondo-negro-200650.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFF828;
    }
.cash{
    width:200px;
    height:200px;
}
.controller {
    width:200px;
    height:200px;
}
.typing {
    width:225px;
    height:200px;
}
#step1, #step2, #step3  {
    background-color: #470A6A;
  
}
#nav1, #nav2, #nav3, #nav4{
    background-color: #470A6A;
 
}
.navbar .navbar-nav li a:hover {
    background-color: black;
}
.tr a

.btn-dark {
    color: #fff;
    background-color: black;
    border-color: black;
}

.match{
    margin: 0;
    
}
.containerMatch{
    width: 100%;
}

#signup{
    cursor: pointer;
}

.modal-header{
    color: black;
    width: 100%;
    text-align: center;
}

.fas{
    color:black;
}


#body-form{
    background-color: #d9d9d9;
}

.shadow-sm{
    background-color: white;
}


.matches{
    background-color:#3D6480;
}

.card{
    background-color: #0C2435;
}
.change{
    color:black;
}
/*#create{*/
/*    background-color:#A9B2B8;*/
/*}*/

.title{
    width:100%;
}

.btn:hover{
    background-color: yellow;
}

.btn{
    color:white;
    background-color:#470A6A;
}

                          