

#profpic{
    width: 140px;
    height: 140px;
}
#content{
    position: relative;
    background-color: black;
}
.footer{
    position: absolute;
    margin: auto;
    width: 100%;
    background-color: black;
}

 * {
    margin: 0;
}

html, body {
    height: 100%;
}

#container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
}
.jumbotron{
    /*background-image: url(../images/fight1.gif);*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-position: 80%;
    color: white;
    background-image: url("https://images.wallpaperscraft.com/image/playstation_gamepad_crash_22102_1280x720.jpg");
}
#imageDiv {
  width: 100%;
}
 
#imageDiv img {
  max-width: 98%;
}
#homebtn {
    background-color: #470A6A;
}
#compete {
    color: #FFF828;
}

.navbar .navbar-brand{
    color:  #FFF828;
    background-color: black;
}

#popgame {
    color: #FFF828;
}
#firsttab {
    color: #FFF828;
}
.bg-dark {
    background-color: black !important;
}
.btn-dark {
    color: #32EA19 !important;
}
body{
        background-image: url('http://4everstatic.com/imagenes/construcciones/muro-de-piedra,-fondo-negro-200650.jpg');

    /*background-color:#1A4049;*/
    /*background-image: url("https://images.wallpaperscraft.com/image/xbox_xbox_one_console_joystick_headphones_105112_1280x720.jpg");*/
}
.main, #profpage, #joined {
    background-image: url('http://4everstatic.com/imagenes/construcciones/muro-de-piedra,-fondo-negro-200650.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFF828;
    }
#psn, #s1, #s2, #s3 {
     color: #FFF828;
}    
.cash{
    width:200px;
    height:200px;
}
.controller {
    width:200px;
    height:200px;
}
.typing {
    width:225px;
    height:200px;
}
#step1, #step2, #step3  {
    /*background-color: #470A6A;*/
  
}
#nav1, #nav2, #nav3, #nav4{
    /*background-color: #470A6A;*/
 
}

/*matchForm*/
#body-form{
    background-color: #d9d9d9;
}

.shadow-sm{
    background-color: white;
}


.matches{
    background-color: none !important;
}

.card{
    /*background-color: #0C2435;*/
    background: none !important;
}
.change{
    color:black;
}

.title{
    width:100%;
}


.btn:hover{
    /*background-color: purple;*/
}

.btn {
    /*color: white;*/
    /*background-color: #470A6A;*/
}

/*login style*/
#login{
    background-image: url('http://4everstatic.com/imagenes/construcciones/muro-de-piedra,-fondo-negro-200650.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        

}

.checkbox, h3{
    color:#CFD0D2;
}

.mt-5{
    color:#CFD0D2;
}

.sr-only{
    font-size: 10px;
}
#ok{
    padding-top:110px;
    width:300px;
    margin:auto;
}
#center{
    padding-top:80px;
}

/*create match*/
#radioForm{
    padding-left: 80px;
}

#p{
    padding-left: 20px;
    padding-right: 20px;
}
/*sign up*/
#signUp{
    background-image: url('http://4everstatic.com/imagenes/construcciones/muro-de-piedra,-fondo-negro-200650.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#img {
    width:180px;
}
#image {
    width: 150px;
}

.whole{
    background-color: black;
}

/*score*/
#chat{
    width:100%;
    height:70px;
    font-size:14px;
    border-radius: 1;
    margin:auto;
    text-align:center;
}
#score{
    background-color:#E8F1F3;
}

/*play now*/
#play{
    background-color:none !important;
}
#thead{
    background-color:none !important;
}
#table{
    background-color:none !important;
}

#playButton{
    /*background-color:yellow;*/
}
