/* 
    General Styles
*/
/*login form*/
.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;

}

.email{
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.password{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.name{
    float: bottom;
}


#profpic{
    width: 140px;
    height: 140px;
}
#content{
    position: relative;
}
.footer{
    position: absolute;
    margin: auto;
    width: 100%;
}

.match{
    margin: 0;
    
}
.containerMatch{
    width: 100%;
}

#signup{
    cursor: pointer;
}

.modal-header{
    color: black;
    width: 100%;
    text-align: center;
}

.fas{
    color:black;
}


#body-form{
    background-color: #d9d9d9;
}

.shadow-sm{
    background-color: white;
}


.matches{
    background-color:#3D6480;
}

.card{
    background-color: #0C2435;
}
.change{
    color:black;
}
/*#create{*/
/*    background-color:#A9B2B8;*/
/*}*/

.title{
    width:100%;
}

.btn:hover{
    background-color: green;
}

.btn{
    color:white;
}
/*034B72*/
/*73A6C1*/

